@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}

